In [1]:
a=5.5
print(a,type(a))
print(a,id(a))

5.5 <class 'float'>
5.5 1593172214576

### Arithmetic operators on Float values

In [3]:
a=2.5
b=4.5
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a/b)
print(a%b)
print(pow(a,b))

7.0
-2.0
11.25
0.0
0.5555555555555556
2.5
61.76323555016366

### Comparison operators on Float values

In [5]:
a=27.5
b=20.21
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

### Equality operators on Float values

In [6]:
a=10.3
b=4.7
print(a==b)
print(a!=b)

False
True

### Logical operators on Float values

In [7]:
print(10.20 and 20.30)
print(0 and 20.30)
print(20.30 and 0)
print(0 and 0)
print(10.20 or 20.30)
print(0 or 20.30)
print(20.30 or 0)
print(0 or 0)
print(not 10.20)
print(not 0)

20.3
0
0
0
10.2
20.3
20.3
0
False
True

### Output of expressions

In [12]:
a=10.20
b=10.20
print(a is b)
print(a is not b)

10.2 1593172667216
10.2 1593172665104
False
True

### Bitwise operators are not applicable on float instances

In [14]:
a=10.20
b=10.20
c=a
print(a,id(a))
print(b,id(b))
print(c,id(a))

10.2 1593172667024
10.2 1593172666992
10.2 1593172667024

### Membership operations

In [15]:
print('2.7' in 'Python2.7.8')
print(10.20 in [10,10.20,10+20j,'Python']) 
print(10.20 in (10,10.20,10+20j,'Python')) 
print(20.30 in {1,20.30,30+40j})
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

True
True
True
True
True
True